html,
body {
    background-color: #21232A;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    padding: 10px;
}


button {
    padding: 10px;
    font-size: 1.3rem;
}


input {
    padding: 15px;
    font-size: 1.3rem;
    width: 80%;
}

label>input {
    margin-top: 10px;
}